<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Some title{% endblock %}</title>
        <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

        {% block style %}
        {% endblock %}
    </head>
    <body>

        <nav class="navbar navbar-expand-lg navbar-light" style="background-color: #e5ffb2;">
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                        <a class="nav-link" href="{% url 'latest-list-view' %}">Home<span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'all-references' %}">Справочники</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'book-list-view' %}">Книги</a>
                    </li>
                </ul>

                {% block form %}
                <form class="form-inline my-2 my-lg-0">
                    <input class="form-control mr-sm-2" type="search" name="name" placeholder="Search" aria-label="Search">
                    <button class="btn btn-outline-success my-0 my-sm-0" type="submit"><img src="https://img.icons8.com/dusk/20/000000/detective.png" alt="Search"></button>
                </form>
                {% endblock %}

            </div>
        </nav>

        {% block content %}
        {% endblock %}

        {% comment %}
            <form method="get" action="">
                {{ search_name }}
            </form>
        {% endcomment %}

    </body>
</html>
